-title @title || "药品"

-@col1= true
-if @categories
  %p.cats
    -@categories.each do |c|
      -if @category.present? and c.id == @category.id
        = c.name
      -else
        =link_to c.name,c,:title=>c.name
=paginate @drugs,:theme=>"twitter-bootstrap",:window=>10
.drugs
  - @drugs.each do |drug|
    .drug
      <a href="/#{CGI.escape(drug.name)}">#{drug.name}</a>
      -#=link_to  drug.name,yao_url(drug)
      -#-if drug.has_shuoming?
        -#%small=link_to "说明书",shuoming_url(drug),:title=>"#{drug.name}说明书"
      -#-if drug.yaopins_count.present?
        -#%small="#{drug.yaopins_count}种"


