-title "网上药店排名_中国十大正规网络药店/网上平价买药购药/网上药店哪个好",nil,false
-meta :keywords,"网上药店,药店,网上药店排名,买药网,网上购药,网络药店,药店网,网络药店,网上十大正规药店,中国最大网上药店,平价药店"
-meta :description,t('.description')
-@title_suffix = ""
-@col1 = true

-content_for :banner do
  =ubaidu 1470606,"药店频道首页960*90，创建于2014-2-17" 
  .mt1e
    .leftlinks
      =ubaidu 1470620,"药店频道左侧头部链接620*160，创建于2014-2-17"
    .righttext
      .well
        %strong 网上药店频道介绍
        =t('.description')
    .clearfix
%h1
  网上药店排名
%div{"ng-controller"=>"ShopsCtrl"}
  .form-inline.form-filter.hide-on-ie6
    %label 在名称/网址/许可证中搜索&nbsp;
    %input{"ng-model"=> "shopq",type: "text"}
  -if is_ie6?
    .alert
      %span.text-error 你使用的是IE6浏览器，以下表格的筛选、排序功能将无法启用。
    -#%input{"ng-model"=> "shopq",type: "text","ng-change"=>"search()"}
  = render :partial => 'list'
  %table.table.table-bordered-bottom.hide-on-ie6{"ng-show"=>"hide_table"}
    %tr
      %th
      -%w(name website pr br alexa cert reg_in).each do |k|
        %th{class: k == "alexa" ? "text-right" : ""}
          -if %(pr br).include? k
            -asc = ""
            -desc = '-'
          -else
            -asc = "-"
            -desc = ''
          <a href="" ng-click="predicate = '#{desc}#{k}'" ng-hide="predicate == '#{desc}#{k}'">#{t("shop.#{k}")}</a>
          <a href="" ng-click="predicate = '#{asc}#{k}'" ng-show="predicate == '#{desc}#{k}'">#{t("shop.#{k}")}</a>
          <a href="" ng-click="predicate = '#{k}'" ng-show="predicate == '-#{k}'">&or;</a>
          <a href="" ng-click="predicate = '-#{k}'" ng-show="predicate == '#{k}'">&and;</a>

    %tr{"ng-repeat"=>"shop in shops|filter:shopq |orderBy:predicate"}
      %td {{$index + 1}}
      %td
        %a{href: "/yaodian/{{shop.id}}",title: "{{shop.name}}",target: "_blank"} {{shop.name|truncate}}
      %td
        %a{href: "{{shop.affurl || shop.website}}",'ng-click'=> "track(shop.domain)",title: "访问官网",target: "_blank"} {{shop.domain}}
      %td
        .rank.rank-pr {{shop.pr == -1 ? "-" : shop.pr}}
      %td
        .rank.rank-br {{shop.br == -1 ? "-" : shop.br}}
      %td.text-right {{shop.alexa == 999999999 ? "-" : (shop.alexa|number)}}
      %td {{shop.cert}}
      %td {{shop.reg_in}}

  -#= link_to 'New Shop', new_shop_path

-content_for :foot do
  %h2 网上药店大全
  %p.description=sprintf("本站网上药店导航频道为你提供获得互联网药品交易服务资格证的%d家正规<strong>网上药店</strong>列表，相应网上药店网站PR、权重及排名信息，方便用户排序、筛选，据此判断网上药店哪家好，作为您网上买药购药的参考。",209).html_safe
