-title "#{@shop.name}_#{@shop.name}怎么样/点评",nil,false
-meta :keywords,t('.keywords',name: @shop.name)
-meta :description,t('.description',name: @shop.name,cert: @shop.cert)
-@spans = 8
-content_for :banner do
  =ubaidu 1470606,"药店频道首页960*90，创建于2014-2-17" 
-content_for :before_links do
  =ubaidu 1470651,"药店单页左上链接610*140，创建于2014-2-17"
%h1=@shop.name
%ul.unstyled.attrs
  %li
    %b 官方网站:
    = link_to @shop.website,@shop.url,{target: "_blank",onclick: "_hmt.push(['_trackEvent','yaodian','show','#{@shop.domain}'])"}.merge(@shop.rel)
  %li
    %b 
      %abbr{title: "互联网药品交易服务资格证"} 资格证号
    = @shop.cert
  %li
    %b 公司名称:
    = @shop.company_name
  %li
    %b 服务范围:
    = @shop.service
  %li
    %b 法人:
    = @shop.owner
  %li
    %b 注册地址:
    = @shop.address
  %li
    %b 注册域名:
    = @shop.domain
  %li
    %b 审批日期:
    = @shop.reg_in
  %li
    %b 到期日期:
    = @shop.expires_in

-if can? :edit,@shop
  = link_to 'Edit', edit_shop_path(@shop)
  \|
= link_to '返回', shops_path
-content_for :foot do
  %h2 #{@shop.name}介绍
  %p.description=sprintf("%1$s是由国家食品药品监督局颁发互联网药品交易服务资格证的正规网上药店，资格证号为%2$s。",@shop.name,@shop.cert).html_safe
  %h3 #{@shop.name}相关药店
  -token = Digest::MD5.hexdigest(request.url)[0,2]
  -cache "related-shops-#{token}" do
    -shops = Shop.order("rand()").limit(42)
    %p.links
      -shops.each do |shop|
        =link_to shop.name.truncate(10),shop,title: shop.name

