-title @title || "医药招商信息",nil,false
.row
  .span8
    %h1 医药招商信息
    #entries-search-results.paginated
      .results
        %ul
          - @entries.each do |entry|
            %li{'data-id'=> entry.id}
              %a.star{href: "#"}
              = link_to entry.title,entry,class: "title"
              %span.company #{entry.company_name}
              %span.created{title: "发布于#{entry.created_at.to_formatted_s(:db)}"} #{entry.created_at.strftime("%m-%d")}
              %span.views{title: "这条信息已被浏览#{entry.views}次"}#{entry.views}次
              
