-title @entry.title,nil,false
.breadcrumb=breadcrumbs.render :format=>'inline'
.row
  .span9
    .box
      %h1=@entry.title
      .metas
        -%w(name changjia_name pihao chengfen guige zhuzhi yongfa).each do |k|
          -val = @entry.send k
          -next if val.blank?
          %p
            %strong=t("simple_form.labels.entry.#{k}")
            %br
            =val
      %hr
      -if @entry.tags_input.present?
        %p
          %b 标签
          = @entry.tags_input
      %p
        = @entry.description
      %hr
      %p
        %b 联系人
        =@entry.user.contact
        \/ #{@entry.user.phone}

      -if can? :edit,@entry
        = link_to '编辑', edit_entry_path(@entry)
        \|
      = link_to '返回', entries_path,:rel=>"nofollow"
  .span3
