%ul.nav.nav-small.pull-right
  - if user_signed_in?
    %li= link_to current_user.name,current_user
    %li.smart=link_to "发布信息",new_entry_url,:rel=>"nofollow"
    %li
      = link_to('设置', edit_user_registration_path)
    - if current_user.has_role? :admin
      %li= link_to('管',rails_admin_path)
    %li
      = link_to('登出', destroy_user_session_path, :method=>'delete')
  -else
    %li.first= link_to('登录', new_user_session_url(:subdomain=>"www"),:rel=>"nofollow")
    %li= link_to('注册', new_user_registration_url(:subdomain=>"www"),:rel=>"nofollow")
