<%=title "设置联系方式"%>
<%= simple_form_for(@user, :url =>update_profile_path, :html => { :method => :put }) do |f| %>
  <%= f.input :company_name %>
  <%= f.input :contact %>
  <%= f.input :phone %>
  <%=hidden_field_tag :from,params[:from]%>

  <div><%= f.button :submit %></div>
<% end %>

