<%=title "设置"%>
<%= simple_form_for(@user, :url =>update_profile_path, :html => { :method => :put }) do |f| %>
  <%= f.input :name,required:true %>
  <legend>联系方式</legend>
  <%= f.input :contact,:required=>true %>
  <%= f.input :phone,required:true %>
  <%=hidden_field_tag :from,params[:from]%>

  <div><%= f.button :submit %></div>
<% end %>

