-title t('.title'),nil,false
-meta_desc t('.desc')
-keywords t('.keywords')
-@hide_bread = true
-@hide_cjyp = true
-@hide_ad_before = true
-@hide_slotf = true
-@hide_title_suffix = true
-@title_suffix = ""

-@col1 = true

%h1.small= t('appname')
%p=t('.desc')
-#=bdshare
.clearfix
=adsense 1545724241,"jx-home-before"
.row
  .span7
    -limit= 150
    -cache "home-cjyp-#{limit}" do
      %tt 常见药品
      %ul.unstyled.mlist
        -TOPDRUGS.keys.slice(0,limit).each do |str|
          %li
            <a href="/yaopin/#{CGI.escape str}/pihao">#{str}</a>
        .clearfix
  .span2
    .pull-right
      %tt 最新发布
      -limit = 30
      -cache "recent-yaopin-#{limit}",:expires_in=>15.minutes do
        -results = Yaopin.newest.inlist.limit(limit)
        %ul.unstyled
          -results.each do |yaopin|
            %li 
              <a href="/pihao/#{CGI.escape yaopin.wenhao}">#{yaopin.wenhao.sub('国药','')}</a>
  .span3.pull-right
    -#.pull-right=adsense 1406123442,"jx-home-rightside",:width=>160,:height=>600
    =ubaidu 1263949,"jx-home-side"
    <script type="text/javascript">alimama_pid="mm_10894158_3382349_11501603";alimama_width=200;alimama_height=200;</script><script src="http://a.alimama.cn/inf.js" type="text/javascript"></script>
      
    -#%tt 资讯更新
    -#-cache "recent-posts-15" do
      -#-results = Post.published.recent.limit(15).all
      -#-if results.present?
        -#%ul.unstyled
          -#-results.each do |r|
            -#%li=link_to r.title,r
=adsense 4499190642,"jx-home-bottom-728",:width=>728,:height=>90


