-title t('home.index.title'),nil,false
-meta_desc t('home.index.desc')
-keywords t('home.index.keywords')
-@hide_bread = true
-@hide_cjyp = true
-@hide_ad_before = true
-@hide_slotf = true
-@hide_title_suffix = true
-@title_suffix = ""
-@hide_toplinks = true

-@col1 = true

%h1.sitename= t('appname')
=t('home.index.desc')
-#-if @ref_keywords.present?
  -#.alert
    -#你是不是要找
    -#-@ref_keywords.each do |str|
      -#=link_to CGI.unescape(str),"/pihao/search?q=#{str}",:target=>'_blank'
    -#?

-#=bdshare
.clearfix
.a328
  -#=adsense 1545724241,"jx-home-before"
  =ubaidu 1270004,'jx-home-before'
.ma328
  =ubaidu 1363715,'jx-home-cloud'
.clearfix

.alert.alert-info
  = render :partial => 'layouts/footlinks_static'
-num = 56
-cache "home-cjjb-#{num}" do 
  .linklist.jibing
    %h2 常见疾病吃什么药好
    - Jibing.where('items_count > 0').limit(num).each do |jibing|
      .i
        = link_to  jibing.name,jibing,:title=>"#{jibing.name}吃什么药"
        %small= jibing.items_count
    .clearfix
%hr
.row
  .span7
    .box
      -limit= 50
      -cache "home-sjyp-#{limit}",:expires_in=>1.minutes do
        %h2 随机药品
        -results = Yaopin.search(:order=>'@random',:per_page=>limit)
        %ul.unstyled.mlist
          -#-Drug.random_by_id_shuffle(limit).each do |d|
          -results.each do |d|
            %li
              <a href="/yaopin/#{CGI.escape d.name}/pihao" title="#{d.name}">#{d.name.truncate(10)}</a>
          .clearfix
    .box
      -limit= 74
      -cache "home-cjyp-#{limit}" do
        %h2 常见药品
        %ul.unstyled.mlist
          -TOPDRUGS.keys.slice(0,limit).each do |str|
            %li
              <a href="/yaopin/#{CGI.escape str}/pihao">#{str}</a>
          .clearfix
  .span2
    .box
      %h2 随机批号
      -limit = 30
      -cache "random-yaopin-#{limit}",:expires_in=>5.minutes do
        -#-results = Yaopin.random_by_id_shuffle(limit)
        -results = Yaopin.search(:order=>'@random',:per_page=>limit)
        %ul.unstyled
          -results.each do |yaopin|
            %li 
              <a href="/pihao/#{CGI.escape yaopin.wenhao}" title="#{yaopin.wenhao}">#{yaopin.wenhao[4,9]}</a>
      -#%h2 最新发布
      -#-limit = 30
      -#-cache "recent-yaopin-#{limit}",:expires_in=>15.minutes do
        -#-results = Yaopin.newest.inlist.limit(limit)
        -#%ul.unstyled
          -#-results.each do |yaopin|
            -#%li 
              -#<a href="/pihao/#{CGI.escape yaopin.wenhao}">#{yaopin.wenhao.sub('国药','')}</a>
  .span3.pull-right
    -#.pull-right=adsense 1406123442,"jx-home-rightside",:width=>160,:height=>600
    =ubaidu 1363716,'jx-side-cloud'
    =ubaidu 1263949,"jx-home-side"
    -#=usogou 192407
    -#=ubaidu 1270011,"jx-home-side-2"
      
    -#%tt 资讯更新
    -#-cache "recent-posts-15" do
      -#-results = Post.published.recent.limit(15).all
      -#-if results.present?
        -#%ul.unstyled
          -#-results.each do |r|
            -#%li=link_to r.title,r
-#=adsense 4499190642,"jx-home-bottom-728",:width=>728,:height=>90


