-title t('.title'),nil,false
-meta_desc t('.desc')
-keywords t('.keywords')
-@hide_bread = true
-@hide_cjyp = true
-@hide_ad_before = true
-@hide_title_suffix = true
-@title_suffix = ""
-@col1 = true

%h1.small= t('appname')
%p=t('.desc')
-#=bdshare
.clearfix
=slotb
.row
  .span9
    -cache "home-cjyp-80" do
      %tt 常见药品
      %ul.unstyled.mlist
        -TOPDRUGS.keys.slice(0,80).each do |str|
          %li
            <a href="/yaopin/#{CGI.escape str}/pihao">#{str}</a>
        .clearfix
  .span3
    %tt 最新发布
    -cache "recent-yaopin-15",:expires_in=>15.minutes do
      -results = Yaopin.newest.inlist.limit(20)
      %ul.unstyled
        -results.each do |yaopin|
          %li 
            <a href="/pihao/#{CGI.escape yaopin.wenhao}">#{yaopin.wenhao.sub('国药','')}</a>
      
    -#%tt 资讯更新
    -#-cache "recent-posts-15" do
      -#-results = Post.published.recent.limit(15).all
      -#-if results.present?
        -#%ul.unstyled
          -#-results.each do |r|
            -#%li=link_to r.title,r


