%h1=@yaopin.wenhao
.pull-right.mt-1e=bdshare
.clearfix
.details.boxx
  .pull-left
    -#=adsense 9225377446,'jx-yaopin-before2'
    =ubaidu 1356188,'jx-before'
  .yaopin-table
    %table.table.table-borderedx.yaopin-single
      %tr
        %th 名称
        %td
          =link_to @yaopin.name,"/yaopin/#{CGI.escape @yaopin.name}/pihao"
          %small #{@drug.yaopins_count}种
          -#<a href="http://cps.360kad.com//cpstransfer.php?unid=j1008&urlto=http://user.360kad.com/webapi/TrackZaoPai?url=http://search.360kad.com/?pagetext=#{CGI.escape @yaopin.name}" rel="nofollow" target="_blank" class="buylink btn btn-small">购买</a>
      %tr
        -scopes = %w(kad yaofangcn dada360 jxdyf)
        -@items = @drug.items.select("items.scope,price,url").all.sort{|a,b| scopes.index(a.scope)<=>scopes.index(b.scope)}
        -@items.reject!{|a| a.scope == 'dada360'}
        -if @items.present?
          %td{:colspan=>2}
            .well 
              %table.table
                %caption
                  %h2 在哪买#{@drug.name}
                -@items.each do |item|
                  %tr
                    %td
                      =eval("item_link_#{item.scope}(item)")
                    %td
                      %span.price=number_to_currency(item.price)
        -else
          %th{:valign=>'top'} 购买链接
          %td
            %span 搜索: 
            -#%br
            =link_to_360kad @drug.name
            -#=link_to_111 @drug.name


      -@jibings = @drug.jibings.all
      -if @jibings.present?
        %tr
          %th 适应症
          %td
            -@jibings.each do |jibing|
              =link_to jibing.name,jibing
      -%w(en wenhao yuanwenhao benweima benweima_beizhu shangpin_name changjia_name changjia_guojia changjia_dizhi guige jixing leibie pizhunri daoqiri).each do |key|
        -if @yaopin[key].present? and @yaopin[key] != '－－－－'
          %tr
            %th=t("yaopin.attrs.#{key}")
            %td=yaopin_column key,@yaopin.send(key)
  .clearfix
%p=@desc
