%h1 Listing companies
-provs = Province.all
-if provs.present?
  -provs.each do |p|
    =link_to p.name
%table
  %tr
    %th Name
    %th Short
    %th City
    %th Province
    %th Address
    %th Yaopins count
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.short
      %td= company.city
      %td= company.province
      %td= company.address
      %td= company.yaopins_count
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
