-title @chengfen.name
%table.table.table-bordered
  -@chengfen.metahash.each do |k,v|
    %tr
      %th.key=k
      %td=v
%h2=t('.drugs',:name=>@chengfen.name)      
%table.table.table-bordered.table-yao
  %tr
    %th 药名
    -unless @hide_category
      %th.category 类型
    %th.count

  - @drugs.each do |drug|
    %tr
      %td
        <a href="/yaopin/#{CGI.escape drug.name}/pihao">#{drug.name}</a>
        -if drug.has_shuoming?
          =link_to "说明书",shuoming_url(drug),:title=>"#{drug.name}说明书",:class=>"badge"
      -unless @hide_category
        %td
          =link_to drug.category.name,drug.category if drug.category.present? 
      %td="#{drug.yaopins_count}种" if drug.yaopins_count.present? 

-if can? :manage,Chengfen
  = link_to 'Edit', edit_chengfen_path(@chengfen)
  \|
  = link_to 'Back', chengfens_path
