-title "#{@jibing.name}_#{@jibing.name}吃什么药/治疗药物",nil,false
-meta :keywords,t('.keywords',name: @jibing.name)
-meta :description,t('.description',name: @jibing.name)
-@title_suffix = ""
-@col3 = true
-@hide_ad_before= true
-@jibings_section = true
-content_for :primary do
  .sidelink=ubaidu 1420700,'jx-jibing-sidelink'
  -if @items.current_page == 1
    -if @jibing.description.present? 
      %h2 #{@jibing.name}
      .description
        =@jibing.description

%h1.pd #{@jibing.name}吃什么药好
.slotb=ubaidu 1363750,'jx-jibing-before'
-if @items.present?
  =paginate @items
  %ol.ranks.ranks-without-vote
    -@items.each do |item|
      -drug = item.drug
      %li
        -#.vote
          -#.num
            -#-i = rand(5)
            -#%abbr{:title=>"#{i}人赞"}
              -#=i
          -#.action
            -#%a.btn.btn-mini{:href=>"#",:disabled=>"disabled"} 点赞
        .details
          %i #{item.position}. 
          =link_to drug.name,"/yaopin#{yao_url(drug)}/pihao",:target=>'_blank'
          %small=drug.yaopins_count.to_s + "种"
          %br
          -txt = highlight(excerpt(drug.description,@jibing.name,:radius=>30),@jibing.name) rescue drug.description
          %small=txt.gsub(@names){|s| "<a href=\"/jibing/#{@jibings.key(s)}\" target=\"_blank\">#{s}</a>"}.html_safe
          -#%small=highlight(excerpt(drug.description,@jibing.name,:radius=>30),@jibing.name).gsub(@names){|s| "<a href=\"/jibing/#{@jibings.key(s)}\" target=\"_blank\">#{s}</a>"}.html_safe
        -#.flag
          -#%a{:href=>'#'} 举报
-if @items.size <= 4
  %h3 其它常见适应症
  -num = 25
  -cache "jibings-side-#{num}-#{rand(10)}" do
    -jibings = Jibing.order("rand()").where("items_count > 0").limit(num)
    %p.links
      -jibings.each do |jibing|
        %a{:href=>jibing_url(jibing),:title=>"#{jibing.name}吃什么药"}
          =jibing.name
        %small= jibing.items_count
      .more
        <a href="#{jibings_url}" rel="nofollow">更多...</a>
-if @items.size > 4
  .slotb=ubaidu 1403033,'jx-jibing-bottom'
-if can? :manage,Jibing        
  .actions
    =link_to "建议",suggest_jibing_path
-content_for :foot do
  %h2 #{@jibing.name}频道介绍
  %p.description=sprintf("本站%1$s频道为你提供<strong>%1$s治疗药物</strong>列表，%1$s简要介绍，并将于后续提供%1$s相关资讯。在此您可以免费查看、筛选和点评%1$s药品信息，据此判断%1$s吃什么药好。%1$s版块内的药品数据均取自国家食品药品监督局,并根据其适应症智能匹配。本网站并不以推荐任何药品牟取利益，亦不对任何药品疗效提供保证，请用户自行选择。",@jibing.name).html_safe
  = render :partial => 'layouts/jibings'
