= link_to t('appname'), root_path, :class => 'brand'
%form.navbar-search.pull-left{:action=>'/pihao/search',:method=>'get'}
  -a={:id=>'q',:type=>"text",:name=>"q"}
  -a.merge! @q.nil?  ? {:placeholder=>t('search')} : {:value=>@q}
  %input.search-query{a}
-classes = nav_classes
%ul.nav
  %li{:class=>classes[:drugs]}=link_to "药品",drugs_url
  %li{:class=>classes[:entries]}=link_to "招商",entries_url
  %li{:class=>classes[:chengfens]}=link_to "药物成分",chengfens_url
  %li{class: classes[:yaopins]}=link_to "批号",yaopins_url
  %li{class: classes[:posts]}=link_to "资讯",posts_url
%ul.nav.nav-small.pull-right
  - if user_signed_in?
    %li= link_to current_user.name,current_user
    %li
      = link_to('设置', edit_user_registration_path)
    - if current_user.has_role? :admin
      %li= link_to('管',rails_admin_path)
    %li
      = link_to('登出', destroy_user_session_path, :method=>'delete')
  -else
    %li.first= link_to('登录', new_user_session_url(:subdomain=>"www"),:rel=>"nofollow")
    %li= link_to('注册', new_user_registration_url(:subdomain=>"www"),:rel=>"nofollow")
