-limit = 10
-url_key = Digest::MD5.hexdigest(request.url)
-cache "random-sidebar-#{url_key}",:expires_in => 3.day do
  %h3 随机药品
  -results = Yaopin.search(:order=>'@random',:per_page=>10)
  %ul.unstyled
    -results.each do |d|
      -next if d.nil?
      %li
        <a href="/yaopin/#{CGI.escape d.name}/pihao" title="#{d.name}">#{d.name.truncate(10)}</a>
  %h3 随机批号
  %ul.unstyled
    -results.each do |yaopin|
      -next if yaopin.nil?
      %li 
        <a href="/pihao/#{CGI.escape yaopin.wenhao}" title="#{yaopin.wenhao}">#{yaopin.wenhao[4,9]}</a>
