!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title
      -if content_for?(:title)
        =[yield(:title),@title_suffix || "_国药准字查询网"].join()
      -else
        =t('appname')
    = stylesheet_link_tag    "application", :media => "all"
    -#=javascript_tag 'var _hmt = _hmt || [];'
    = csrf_meta_tags
    = yield(:head)
    =render 'layouts/iefix'
    -#=javascript_include_tag 'http://cbjs.baidu.com/js/m.js'
    <link rel="shortcut icon" href="http://www.jxjw.net/favicon.ico" type="image/x-icon">
  -@hide_ad_before = true if %w(new edit).include? action_name
  %body{:class=>@body_class}
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    -unless @hide_subnav
      .navbar-sub
        .container
          -if is_home?
            %h1.sitename= t('appname')
            =t('home.index.desc')
          = render :partial => 'layouts/footlinks_static'
    -if is_zhaoshang?
      .navbar.navbar-static-top.navbar-zhaoshang
        .container
          = render :partial => 'layouts/zhaoshang'
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          -#-unless @hide_toplinks
            -#.toplinks=ubaidu 1363378,'jx-top-links'
          -if @col1 
            -unless @hide_ad_before
              =slotb
            -if show_title?
              %h1#pt=yield :header
            -unless @hide_bread
              .breadcrumb= breadcrumbs.render :format=>:inline, :separator => '/'
            = yield
            .clearfix
            =slotf unless @hide_slotf
          -else
            -@spans ||= 9
            -#=adsense 3773405445,'jx-links',:width=>468,:height=>15,:cls=>"toplinks"
            .row
              %div{:class=>"span#{@spans}"}
                .box.box-c
                  =slotb unless @hide_ad_before
                  -if show_title?
                    %h1#pt=yield :header
                  -unless @hide_bread
                    .breadcrumb= breadcrumbs.render :format=>:inline, :separator => '/'
                  = yield
                  =slotf unless @hide_slotf
              .sidebar{:class=>"span#{12-@spans}"}
                .inside
                  =yield :sidebar
                  -#-unless @liubai
                    -#.liubai
                  -#.sponsor=link_to image_tag("/images/ggw200.jpg"),"/pages/ad"
                  -#.sponsor
                    <!-- 广告位：jxjw.net右侧栏 -->
                    -#<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "827834";</script>
                    -#<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
                    -#<script type="text/javascript" >document.write('<div class="" style="width:200px"><a href="javascript://" title="全站(首页除外)广告位200*200px.￥200一月，有意请洽QQ58265826.">购买此处广告</a></div>')</script>
                  = render 'layouts/sidebar' unless @hide_sidebar
                  -#-unless @hide_adside
                    -#=ubaidu 1270008,"jx-global-side-200"
                  -#-unless @hide_adside
                    -#=ubaidu 1270011,"jx-global-side-2"
            -#=adsense 3773405445,'jx-links',:width=>468,:height=>15,:cls=>"botlinks"
          -unless @hide_bottomlinks
            .hidden-phone.bottomlinks=ubaidu 1363390,'jx-bottom-links'
      -#.debug.text-right
      -#.time 当前时间: #{Time.now}
      -#.url=request.url
      -#.user_agent=request.user_agent
      %footer
        .container
          %dl.f-widgets
            %dd.logo
              =link_to "国药准字查询",root_url
            %dd.links
              -if is_home?
                .siteinfo
                =render "layouts/links"
              -else
                =render "parts/jibings"
              -#-if @hide_subnav
                -#= render :partial => 'layouts/footlinks_static'
            .clearfix
      .bottom
        .container
          .pull-left
            %span &copy; 2010 www.jxjw.net 沪ICP备13034467号-1
            \|
            =link_to "友情链接","/links"
            联系QQ <a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=58265826&site=qq&menu=yes">5826-5826</a>
            \|

            =link_to "医药招商",entries_url
            \|
            =link_to "按批准日期规档",archive_url
            \|
            =link_to "资讯",posts_url
          .pull-right
            =yield(:title) || t('appname')

    = javascript_include_tag "application"
    =render 'layouts/iefixjs'
    .hidden=render "layouts/tongji" if Rails.env.production?
    = yield(:footer)
    -unless @hide_xuanfu
      <script type="text/javascript">
      /*jx-xuanfu*/
      var cpro_id = "u1398295";
      </script>
      <script src="http://cpro.baidustatic.com/cpro/ui/f.js" type="text/javascript"></script>
