!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title
      -if content_for?(:title)
        =[yield(:title),@title_suffix || "_国药准字查询网"].join()
      -else
        =t('appname')
    = stylesheet_link_tag    "application", :media => "all"
    -#=javascript_tag 'var _hmt = _hmt || [];'
    = csrf_meta_tags
    = yield(:head)
    =render 'layouts/iefix'
    -#=javascript_include_tag 'http://cbjs.baidu.com/js/m.js'
    <link rel="shortcut icon" href="http://www.jxjw.net/favicon.ico" type="image/x-icon">
  -@hide_ad_before = true if %w(new edit).include? action_name
  %body{:class=>@body_class}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    -if is_zhaoshang?
      .container.mt1.sub_nav
        = render :partial => 'layouts/zhaoshang'
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          -#-unless @hide_toplinks
            -#.toplinks=ubaidu 1363378,'jx-top-links'
          -if @col1 
            -unless @hide_ad_before
              =slotb
            -if show_title?
              %h1#pt=yield :header
            -unless @hide_bread
              .breadcrumb= breadcrumbs.render :format=>:inline, :separator => '/'
            = yield
            .clearfix
            =slotf unless @hide_slotf
          -else
            -@spans ||= 9
            -#=adsense 3773405445,'jx-links',:width=>468,:height=>15,:cls=>"toplinks"
            .row
              %div{:class=>"span#{@spans}"}
                .box.box-c
                  =slotb unless @hide_ad_before
                  -if show_title?
                    %h1#pt=yield :header
                  -unless @hide_bread
                    .breadcrumb= breadcrumbs.render :format=>:inline, :separator => '/'
                  = yield
                  =slotf unless @hide_slotf
              .sidebar{:class=>"span#{12-@spans}"}
                .inside
                  =yield :sidebar
                  -#-unless @liubai
                    -#.liubai
                  -#=adsense 8650188641,"jx-global-side",:width=>300,:height=>600
                  -unless @hide_adside
                    =ubaidu 1363716,'jx-side-cloud'
                    =ubaidu 1270008,"jx-global-side-200"
                  = render 'layouts/sidebar' unless @hide_sidebar
                  -#-unless @hide_adside
                    -#=ubaidu 1270011,"jx-global-side-2"
            -#=adsense 3773405445,'jx-links',:width=>468,:height=>15,:cls=>"botlinks"
          -unless @hide_bottomlinks
            .hidden-phone.bottomlinks=ubaidu 1363390,'jx-bottom-links'
      -#.debug.text-right
      -#.time 当前时间: #{Time.now}
      -#.url=request.url
      -#.user_agent=request.user_agent
      %footer
        .container
          %dl.f-widgets
            %dd.logo
              =link_to "国药准字查询",root_url
            %dd.links
              -if is_home?
                =render "layouts/links"
              -else
                =render "parts/jibings"
              -unless is_home?                
                = render :partial => 'layouts/footlinks_static'
            .clearfix
      .bottom
        .container
          .pull-left
            %span &copy; 2012 www.jxjw.net 粤ICP备13051267号-1
            \|
            =link_to "友情链接","/links"
            联系QQ <a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=0d784cb4250c9b1f2776e449b0a843fb4a9a6b876bbfaddd">5826-5826</a>
            \|

            =link_to "医药招商",entries_url
            \|
            =link_to "按批准日期规档",archive_url
            \|
            =link_to "资讯",posts_url
          .pull-right
            =yield(:title) || t('appname')

    = javascript_include_tag "application"
    =render 'layouts/iefixjs'
    .hidden=render "layouts/tongji" if Rails.env.production?
    = yield(:footer)
    -unless @hide_xuanfu
      <script type="text/javascript">
      /*jx-xuanfu*/
      var cpro_id = "u1398295";
      </script>
      <script src="http://cpro.baidustatic.com/cpro/ui/f.js" type="text/javascript"></script>
